# ThreatVault environment variables
THREATVAULT_DEBUG=true
THREATVAULT_ENABLE_ML=true
THREATVAULT_ENABLE_YARA=true
THREATVAULT_ENABLE_SANDBOX=true
THREATVAULT_ENABLE_CACHE=true
THREATVAULT_REDIS_URL=redis://localhost:6379/0
THREATVAULT_CELERY_BROKER_URL=redis://localhost:6379/1
THREATVAULT_CELERY_RESULT_BACKEND=redis://localhost:6379/2
THREATVAULT_YARA_RULES_DIR=../rules
THREATVAULT_MAX_UPLOAD_MB=100
THREATVAULT_LOG_LEVEL=INFO
